<div class="about-container">
  <section class="hero-section">
    <h1>Acerca de Nosotros</h1>
    <p>Somos una empresa dedicada a proporcionar soluciones innovadoras y de alta calidad para satisfacer las necesidades de nuestros clientes.</p>
  </section>

  <section class="mission-vision-section">
    <div class="mission">
      <h2>Nuestra Misión</h2>
      <p>Nuestra misión es brindar a nuestros clientes, comodidad y seguridad en cada hospedaje.</p>
    </div>
    <div class="vision">
      <h2>Nuestra Visión</h2>
      <p>Aspiramos a ser líderes en nuestro sector, reconocidos por nuestra innovación, confiabilidad y el impacto positivo que generamos en la comunidad. Queremos construir un futuro mejor a través de la tecnología y el turismo.</p>
    </div>
  </section>

  <section class="contact-cta">
    <h2>¿Tienes alguna pregunta?</h2>
    <p>¡No dudes en ponerte en contacto con nosotros!</p>
    <a href="https://github.com/milomnz" class="btn-contact">Contáctanos</a>
  </section>
</div>
