<app-navbar></app-navbar>
<main class="main">
  <img src="assets/images/isleno-xl-002.jpg" alt="principal-image" class="main-image">
  <!-- Contenido adicional para tener más scroll -->
  <section class="buscador">
    <app-busqueda></app-busqueda>

  </section>
  <section class="inicial-text">
    <p>Descubre por qué nuestros hoteles son tú mejor opcion para tus proximas vacaciones.</p>
  </section>
  <p class="firma">- "Breaze In The Mooon"...</p>
  <section class="hotels-carousel">
  </section>

  <section class="content-section">

    <h2>Nuestros Servicios</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna eget neque tincidunt, ac
      sagittis eros tempus. Sed eleifend quam vitae justo pulvinar, vel finibus massa facilisis. Praesent pellentesque
      turpis non quam semper, id ultricies turpis efficitur.</p>
    <p>Fusce efficitur metus quis risus pharetra, nec euismod metus faucibus. Maecenas quis tellus quis eros iaculis
      varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget dui non
      lectus convallis pellentesque vel eu purus.</p>
    <p>Nullam lacinia turpis eget nisi pharetra, et mollis turpis varius. Praesent commodo, justo non rhoncus fermentum,
      risus nisi ullamcorper orci, vel dictum arcu nisi at augue. Integer ac magna nec justo aliquet rutrum. Duis sit
      amet ligula in risus commodo pellentesque id id ipsum.</p>
  </section>
  <section class="content-section">
    <h2>Nuestros Servicios</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna eget neque tincidunt, ac
      sagittis eros tempus. Sed eleifend quam vitae justo pulvinar, vel finibus massa facilisis. Praesent pellentesque
      turpis non quam semper, id ultricies turpis efficitur.</p>
    <p>Fusce efficitur metus quis risus pharetra, nec euismod metus faucibus. Maecenas quis tellus quis eros iaculis
      varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget dui non
      lectus convallis pellentesque vel eu purus.</p>
    <p>Nullam lacinia turpis eget nisi pharetra, et mollis turpis varius. Praesent commodo, justo non rhoncus fermentum,
      risus nisi ullamcorper orci, vel dictum arcu nisi at augue. Integer ac magna nec justo aliquet rutrum. Duis sit
      amet ligula in risus commodo pellentesque id id ipsum.</p>
  </section>
  <section class="content-section">
    <h2>Nuestros Servicios</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna eget neque tincidunt, ac
      sagittis eros tempus. Sed eleifend quam vitae justo pulvinar, vel finibus massa facilisis. Praesent pellentesque
      turpis non quam semper, id ultricies turpis efficitur.</p>
    <p>Fusce efficitur metus quis risus pharetra, nec euismod metus faucibus. Maecenas quis tellus quis eros iaculis
      varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget dui non
      lectus convallis pellentesque vel eu purus.</p>
    <p>Nullam lacinia turpis eget nisi pharetra, et mollis turpis varius. Praesent commodo, justo non rhoncus fermentum,
      risus nisi ullamcorper orci, vel dictum arcu nisi at augue. Integer ac magna nec justo aliquet rutrum. Duis sit
      amet ligula in risus commodo pellentesque id id ipsum.</p>
  </section>
  <section class="content-section">
    <h2>Nuestros Servicios</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna eget neque tincidunt, ac
      sagittis eros tempus. Sed eleifend quam vitae justo pulvinar, vel finibus massa facilisis. Praesent pellentesque
      turpis non quam semper, id ultricies turpis efficitur.</p>
    <p>Fusce efficitur metus quis risus pharetra, nec euismod metus faucibus. Maecenas quis tellus quis eros iaculis
      varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget dui non
      lectus convallis pellentesque vel eu purus.</p>
    <p>Nullam lacinia turpis eget nisi pharetra, et mollis turpis varius. Praesent commodo, justo non rhoncus fermentum,
      risus nisi ullamcorper orci, vel dictum arcu nisi at augue. Integer ac magna nec justo aliquet rutrum. Duis sit
      amet ligula in risus commodo pellentesque id id ipsum.</p>
  </section>
  <section class="content-section">
    <h2>Nuestros Servicios</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna eget neque tincidunt, ac
      sagittis eros tempus. Sed eleifend quam vitae justo pulvinar, vel finibus massa facilisis. Praesent pellentesque
      turpis non quam semper, id ultricies turpis efficitur.</p>
    <p>Fusce efficitur metus quis risus pharetra, nec euismod metus faucibus. Maecenas quis tellus quis eros iaculis
      varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget dui non
      lectus convallis pellentesque vel eu purus.</p>
    <p>Nullam lacinia turpis eget nisi pharetra, et mollis turpis varius. Praesent commodo, justo non rhoncus fermentum,
      risus nisi ullamcorper orci, vel dictum arcu nisi at augue. Integer ac magna nec justo aliquet rutrum. Duis sit
      amet ligula in risus commodo pellentesque id id ipsum.</p>
  </section>

  <router-outlet></router-outlet>
</main>