<section class="header">
    <app-navbar></app-navbar>
    <img src="assets/images/isleno-xl-002.jpg" alt="principal-image" class="main-image">
    <app-busqueda></app-busqueda>
</section>
<main class="main">
    <section class="login-span">
        <a *ngIf="!isUserLoggedIn" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/images/cuenta.png" id="login-image" alt="Iniciar Sesión">
        </a>

        <button *ngIf="isUserLoggedIn" type="button" class="btn btn-secondary profile-popover-btn" #profilePopoverBtn>
            <img src="assets/images/cuenta.png" id="login-image" alt="Mi Cuenta">
        </button>

    </section>
    <section class="inicial-text">
        <p>Descubre por qué nuestros hoteles son tú mejor opcion para tus proximas vacaciones.</p>
    </section>
    <p class="firma">- "Breaze In The Mooon"...</p>
    <hr class="linea-separadora">
    <p class="offer-text">No te pierdas la oportunidad de conocer nuestros hoteles</p>
    <app-cards></app-cards>
    <p class="offer-text">Lo que dicen nuestros huespedes...</p>
    <app-review-start></app-review-start>
</main>

<router-outlet></router-outlet>