<section class="cards-section">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/hotels/galeon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hotel Galeón</h5>
            <p class="card-text">Santa Marta es una de las ciudades más antiguas de América, reconocida como la ‘Bahía más hermosa del continente’, sin duda es un destino que no puedes dejar pasar. ¡Conoce más de nuestro Hotel Galeón!</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/hotels/cartagena.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hotel Cartagena</h5>
            <p class="card-text">Una ciudad mágica en El Caribe colombiano te esta esperando para que disfrutes tus vacaciones familiares con nuestros planes turísticos All Inclusive. Conoce más de nuestro Hotel Cartagena.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/hotels/baru.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hotel Barú</h5>
            <p class="card-text">Un resort ubicado en uno de los mejores destinos de El Caribe colombiano con un diseño arquitectónico y rodeado de diversas playas. ¡Conoce nuestro programa todo Incluido en el Hotel Barú!</p>
        </div>
    </div>
</section>