<!-- Esté componente contiene contenido estatico aun. Se requiere 
    la implementacion del backend para que el componente funcione
    dinámicamente. -->

<div class="booking-tool">
  <div class="booking-dropdowns">
    <div class="dropdown-wrapper">
      <label for="hotel-select">Hotel</label>
      <div class="dropdown-container">
        <select id="hotel-select" class="dropdown-btn" (change)="onHotelChange($event)">
          <option value="" disabled selected>{{ hotelSeleccionadoNombre || 'Selecciona tu hotel favorito' }}</option>
          <option *ngFor="let hotel of hoteles" [value]="hotel.id">
            {{ hotel.nombre }}
          </option>
        </select>
      </div>
    </div>

    <div class="dropdown-wrapper">
      <label for="date-picker">Fecha</label>
      <div class="dropdown-container">
        <app-datepicker class="dropdown-btn" id="date-picker"></app-datepicker>
      </div>
    </div>

    <div class="dropdown-wrapper">
      <label for="guests-input">Habitación</label>
      <div class="dropdown-container">
        <input type="text" class="dropdown-btn" placeholder="Número de huéspedes" id="guests-input">
      </div>
    </div>

    <button class="reserve-btn">Reservar</button>
  </div>
</div>
