<!-- Esté componente contiene contenido estatico aun. Se requiere 
    la implementacion del backend para que el componente funcione
    dinámicamente. -->

<div class="booking-tool">
    <div class="booking-labels">
        <div class="label">Hotel</div>
        <div class="label">Fecha</div>
        <div class="label">Habitación</div>
    </div>

    <div class="booking-dropdowns">
        <div class="dropdown-container">
            <button class="dropdown-btn">Selecciona tu hotel favorito</button>
            <div class="dropdown-content">
                <a href="#">Barú</a>
                <a href="#">Galeón</a>
                <a href="#">Isleño</a>
            </div>
        </div>

        <div class="dropdown-container">
            <button class="dropdown-btn">Entrada - Salida</button>
            <div class="dropdown-content">
                <a href="#">Mayo 20 - Mayo 25</a>
                <a href="#">Junio 1 - Junio 7</a>
                <a href="#">Julio 15 - Julio 22</a>
            </div>
        </div>

        <div class="dropdown-container">
            <button class="dropdown-btn">2 Personas</button>
            <div class="dropdown-content">
                <a href="#">1 Persona</a>
                <a href="#">2 Personas</a>
                <a href="#">3 Personas</a>
                <a href="#">4 Personas</a>
            </div>
        </div>

        <button class="reserve-btn">Reservar</button>
    </div>
</div>