<div *ngIf="cargando" class="text-center mt-5">
  <div class="spinner-border text-primary" role="status"></div>
</div>

<div *ngIf="error" class="alert alert-warning mt-4 text-center">{{ error }}</div>

<div *ngIf="hotel" class="card shadow p-4 mt-4">
  <div class="card-body">
    <h2 class="card-title">{{ hotel.nombre }}</h2>
    <p class="card-text">{{ hotel.descripcion }}</p>
    <p><strong>Teléfono:</strong> {{ hotel.telefono }}</p>
    <p><strong>Ubicación:</strong> {{ hotel.localizacion }}</p>
    <p><strong>Calificación promedio:</strong> {{ hotel.calificacionPromedio }} ⭐</p>
    <p><strong>Fecha de creación:</strong> {{ hotel.fechaCreacion | date }}</p>
    

    <div class="mt-3 d-flex gap-2">
      <!-- <button class="btn btn-primary" (click)="verHabitaciones()">Ver Habitaciones</button> -->
      <!-- <button class="btn btn-outline-secondary" (click)="editarHotel()">Editar Información</button> -->
    </div>
  </div>
</div>